<div class="modal container" ng-show="opencreate" ng-click="opencreate = !opencreate">
  <form novalidate ng-submit="createUser()" class="modal-content" ng-click="$event.stopPropagation()">
    <span class="close" ng-click="opencreate = !opencreate">×</span>
    User Name:
    <input type="text" ng-model="username" required><br>
    Password:
    <input type="password" ng-model="password" required><br>
    First Name:
    <input type="text" ng-model="firstName" required><br>
    Last Name:
    <input type="text" ng-model="lastName" required><br>
    Phone Number:
    <input type="text" ng-model="phone"><br>
    Location:
    <input type="text" ng-model="location"><br>
    <!-- Image -->
    <br><br>
    <input class="btn-lg nomargin" type="submit" id="Submit" value="submit" ng-click="opencreate = !opencreate"></input>
  </form>
</div>
