<div class="modal container" ng-show="open" ng-click="open = !open">
  <form novalidate ng-submit="bck.updateUser(user)" class="modal-content" ng-click="$event.stopPropagation()">
    <span class="close" ng-click="open = !open">×</span>

    <div id="fields-box">
      <div class="fields-title">New Password:</div>
      <input type="password" ng-model="password" ng-model-options="{ updateOn: 'submit' }" required><br>
      <div class="fields-title">First Name:</div>
      <input type="text" ng-model="user.name" ng-model-options="{ updateOn: 'submit' }" required><br>
      <div class="fields-title">Last Name:</div>
      <input type="text" ng-model="user.surname" ng-model-options="{ updateOn: 'submit' }" required><br>
      <div class="fields-title">Location:</div>
      <input type="text" ng-model="user.location" ng-model-options="{ updateOn: 'submit' }" ><br>
      <!-- edit image -->
    </div>
    <br>
    <br>
    <input class="btn btn-primary btn-lg nomargin" type="submit" id="submit" value="submit" ng-click="open = !open"></input>
  </form>
</div>
