<!-- <div id="img-header-headapp">
    <img src="/images/headapp_transparent.png" alt="HeadApp" style="margin-right: 30px; float: left; width: 400px;">
  </div> -->

<img class="logo" src="./images/<%= idCompanyAndUser.company_shortname %>/logo.jpg" alt="">

<div id="login-header-block">
    <span>Welcome : <b><%= idCompanyAndUser.user.name %></b></span>
    <!-- <span ><b>Welcome</b></span> -->
</div>