<nav>
    <b>
    <li>
      <a href="/">Control Room</a>
    </li>

    <li >
      <a href="/ctrlpanel" ng-click="rtc.ctrlpanel()">Control Panel</a>
    </li>
    
    <li>
      <a href="/administration" target="_self">Administration Panel</a>
    </li>

    <li >
      <a href="/logout" ng-click="rtc.logout()">Logout</a>
    </li>
</b>
</nav>
