<div class="remoteStreams card">


  <div id="remoteVideosContainer"></div>


  <!--  include table-streams was here -->
  <div>
    <!-- <button id='request'>Request Camera</button> -->
    <button id='start' class='btn-lg'>Start Recording</button>
    <button id='stop' class='btn-lg'>Stop Recording</button>

<div>
    <ul id='downloadlist' class="title">Downloads List:</ul>
  </div>
  </div>

</div>

<!-- <div class="remoteStreams"></div> -->
