<div class="table-container card" >
  <div class="table-streams">
    <table class="width100">
        <thead>
          <tr>
              <th><div id="table-title-operators">Connected operators</div></th>
              <!-- <th></th> -->
              <th colspan="2" id="table-title-refresh">
                <div class="button-refresh">
                        <!-- <a href>Refresh</a> -->
                        <button name="refresh" class="btn btn-primary btn-lg" ng-click="rtc.refreshButton()">Refresh</button>
                </div>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr class="blank_row"></tr>

          <tr ng-repeat="stream in rtc.remoteStreams | orderBy:'name' " ng-class="{'selected' : stream.isPlaying}">

            <td>
              <div>{{stream.name}}</div>
            </td>
            <td>
                <div class="button-ops">
                  <button name="view-deactivate" class="btn btn-primary btn-lg" ng-click="rtc.getRemoteUserInfo(stream)" ng-disabled="ngViewDisabled">View</button>
                </div>
            </td>
            <td>
              <div class="button-ops">
                <button id="btn-{{stream.name}}" name="call-deactivate" class="btn btn-primary btn-lg" ng-click="rtc.call(stream)" ng-disabled="ngCallDisabled" ng-class="{true:'btn-lg-disabled',false:'btn-lg'}[ngDisabled]">Call</button>
              </div>
            </td>

            <!-- <td ng-click="rtc.getRemoteUserInfo(stream)"><a>{{stream.name}}</a></td>
            <td ng-click="rtc.view(stream)"><a>View</a></td> -->

            <!-- <td ng-click="rtc.view(stream)"><a>Visualizza</a></td> -->
                <!-- <td ng-click="rtc.view(stream)"><a>View</a></td>
                <td ng-click="rtc.call(stream)"><a>Call</a></td> -->
            <!-- <button style="font-size: 20px; padding-left: 30px; padding-right: 30px;" type="submit" class="btn btn-primary btn-lg" ng-click="rtc.call(stream)">Invia a {{stream.name}}</button> -->
          </tr>
      </tbody>
    </table>

  </div> <!--end table-streams-->

</div> <!--end table-container-->
