.chat {
  text-align: center;
  height: 513px;
  padding-bottom: 1%;
}

.form-group {
  width: 100%;
}

.form-control {
  width: 90%;
}

#output-text {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  font-size: 26px;
  margin: 2%;
  min-height: 289px;
  max-height: 550px;
}
